:root{
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --accent-clor:#4D5AE5;
    --primary-white-color:#FFFFFF;
    --secondary-color:#F4F4FD;
    --footer-text-color:#E7E9FC;
    --active-btn-color: #404bbf;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}
body{
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}


a {
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* logo */
.logo{
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color)

}

.logo{
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo span{
    color: var(--accent-clor);
}

.main-nav,
header .container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    margin-left: 77px;
}

.nav-list > .item:not(:last-child) {
    margin-right: 40px;
}
  
.nav-link {
        padding: 24px 0;
        display: block;

        font-weight: 600;
        line-height: 1.5;
        color:var(--title-text-color)
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-clor);
}

.contacts.list {
    display: flex;
    margin-left: auto;
}

.contacts .item:last-child {
    margin-left: 40px;
}

.contact {
    padding: 24px 0;
    line-height: 1.5;
    color: var(--primary-text-color)
}
.contact:hover,
.contact:focus{
    color: var(--accent-clor)
}

.hero{
    background-color: var(--title-text-color);
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
}
.hero-title{
        margin: 0 auto 48px;
        width: 492px;

        font-weight: 600;
        font-size: 56px;
        line-height: 1;
        color:var(--primary-white-color);
}
.btm{
        padding: 16px 32px;
        min-width: 170px;

        font-weight: 600;
        font-size: inherit;
        line-height: 1.18;
        letter-spacing: 0.04em;
        display: inline-block;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        color: var(--primary-white-color);
        background-color: var(--accent-clor);

        cursor: pointer;
        border: none;
}

.btm:hover,
.btm:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.btm:active {
    background-color: var(--active-btn-color);
}

 .button{
        font-weight: 600;
        font-size: inherit;
        line-height: 1.18;
        letter-spacing: 0.04em;
        display: inline-block;
        
        color: var(--accent-clor);
        background-color: var(--primary-white-color);

        cursor: pointer;
        border: none;
 }

 .button:hover,
 .button:focus{
    color:var(--footer-text-color);
    background-color: var(--accent-clor);
 }

 .section {
     padding-top: 120px;
     padding-bottom: 120px;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 .text .benefits{
    display: flex;
 }

 .text .item:not(:last-child) {
    margin-right: 24px;
}

.text .benefits-title{
    margin-bottom: 8px;
}

.benefits-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: var(--title-text-color)
}

.benefits-text {
        margin: 0;
        width: 264px;

        line-height: 1.5;
        color: var(--primary-text-color);
}

.section-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        text-transform: capitalize;
        color: var(--title-text-color);
}


.subject {
    background-color: var(--secondary-color);
}

.name-list{
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: var(--title-text-color);
}

.description{
        line-height: 1.5;
        color: var(--primary-text-color);
}

.team-name {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: var(--title-text-color);
}

.team-position {
        line-height: 1.5;
        color:var(--primary-text-color)
}

.footer {
    background-color: var(--title-text-color)
}

.footer-copy {
            line-height: 1.5;
            color:var(--footer-text-color)
}
.footer-logo{
            font-family: 'Raleway';
            font-weight: 800;
            font-size: 18px;
            line-height: 1.33;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--secondary-color)
        }
.footer-logo span {
    color: var(--accent-clor);
}